<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto-Annotation Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
    <h1>Polygon Auto-Annotate</h1>

    <div id="inputDiv">
        <input type="file" accept="image/*" id="imageLoader" name="imageLoader">
    </div>

    <div id="resultDiv" class="center">
        <div id="imageDiv">
            <canvas id="imageCanvas" width="500" height="500"></canvas>
        </div>
        <div id="resultPanel">
            <div id="panelHeader">
                <div class="inline-block" style="float:left; margin-left:12px;">
                    <span class="rounded-full inline-block w-3 h-3" style="background-color: rgb(255,95,86)"></span>
                    <span class="rounded-full inline-block w-3 h-3" style="background-color: rgb(255, 189, 46)"></span>
                    <span class="rounded-full inline-block w-3 h-3" style="background-color: rgb(39, 201, 63)"></span>
                </div>
                <div id="panelTitle" class="inline-block">Annotated Objects</div>
            </div>
            <div id="panelContent"></div>
            <button type="button" id="exportButton" class="btn right-below">Export</button>
        </div>
        
    </div>
    <div id="coordinatesDiv" class="bottom-left">x: 0, y: 0 (px)</div>
    <div class="bottom-right">@ngxquang, Some rights reserverd</div>

    <div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" aria-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title inline-block" id="exampleModalLabel">Click on object</h5>
                    <button type="button" class="close inline-block" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="modalCanvas"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/client.js') }}"></script>
</html>